{% extends 'base.html' %}

{% block content %}
<div class="content">
	<h3>About us</h3>
	<p style="text-align: justify;">GMMSB (Grupo de Modelagem Molecular de Sistemas Biológicos) is a multidisciplinary research group at National Laboratory for Scientific Computing (LNCC) of the Ministry of Science and Technology (MCT), located in the city of Petrópolis, a mountain city in Rio de Janeiro state. Since 2002, the group works with biology, physics, applied mathematics and high-performance computing. The main objectives of GMMSB are the development and application of computational methods, techniques and algorithms in rational drug design, ab initio protein structure prediction and quantum calculations of biological macromolecules electrostatic properties. The group has an important actuation in the LNCC Computational Modeling Multidisciplinary Post-graduation Program (Master's and Ph.D degrees), with students from biological, chemistry, physics, mathematics, computation and engineering sciences.</p>

	<p style="text-align: justify;">The group has also organized the I EMMSB (1st School of Molecular Modeling of Biological Systems - august 2002, LNCC/Petrópolis-Brazil), the II EMMSB (april 2004, LNCC/Petrópolis-Brazil), the III EMMSB (april 2006, LNCC/Petrópolis-Brazil) and the IV EMMSB (october 2008, LNCC/Petrópolis-Brazil). These schools had a national impact and were organized in collaboration with IBCCF/UFRJ and FIOCRUZ/MS.</p>
</div>
{% endblock %}