{% extends 'base.html' %}

{% block content %}
<div class="column-auto pdr-25">
	<h3>Publications</h3>

	{% for publication in publications %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{publication.title}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{publication.subtitle}}</h6>
			<p class="card-text">{{publication.description}}</p>
			<a href="#" class="card-link">
				<a href="https://doi.org/{{publication.doi}}" target="_blank">Read <i class="fas fa-external-link-alt"></i></a>
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}