{% extends 'base.html' %}

{% block content %}
<div class="column-auto pdr-25">
	<h3>Our research</h3>

	<p>Current GMMSB/LNCC projects include the development of:
		<ul>
		    <li>Own computational receptor-ligand docking methodologies using Genetic Algorithms, Generalized Simulated Annealing Algorithm and Artificial Neural Networks;</li>
		    <li>A web-based ligand data base program (LLDB - "LASSBio Ligand Data Base");
		    <li>A biological workflow (MHOLline) for structural genomic projects;</li>
		    Methodologies to investigate molecular targets associated to the TriTryps genomes (Trypanosoma cruzi, Trypanosoma brucei and Leishmania major parasites) with the aim to find new lead compounds for the development of drugs against Chagas' disease, sleeping sickness and leishmaniasis;</li>
		    <li>Own computational methodologies for the ab initio prediction of protein structures;</li>
		    <li>A polarizable force field based on quantum mechanical electronic structure calculations for a future use in receptor-ligand docking methodologies.</li>
		</ul>
	</p>
</div>
{% endblock %}