{% extends 'base.html' %}

{% block content %}
<h3>Team members</h3>

<div class="row pt-3 pb-5">
{% for member in members %}
	<div class="col-sm-3">
		<a href="{{member.lattes_url}}" style="text-decoration: none;">
			<div style="margin: auto; width: 96px; height: 96px; border-radius: 48px; border: solid 1pt #ccc; background-image: url('{{member.avatar_url}}'); background-repeat: no-repeat; background-position: center; background-size: cover;">	
			</div>
		</a>
		<div style="text-align: center;">
			<strong>{{member.name}}</strong><br/>
			{{member.title}}				
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}