{% extends 'blank.html' %}

{% load static %}

{% block style %}
    {{block.super}}
    <style type="text/css">
         .topbar {
            height: 80px; 
            color: #fff;
            background: radial-gradient(ellipse at center center , #3a72bc 1%, #2160bd); 
            border-bottom: solid 3pt #ffcc00;
            box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.1);
        }

        .footer {
            background-color: #00274c;
            color: #fff;
            font-size: 12px;
            padding: 20px;
            border-top: solid 3pt #ffcc00;
            box-shadow: 2px -1px 2px 1px rgba(0, 0, 0, 0.1);            
        }
        .navlink {
            text-decoration: none;
            padding: 10px;
            color: #fff !important;
            border-radius: 20px;
        }
        .navlink2 {
            text-decoration: none;
            padding: 10px;
            color: #fff !important;
            font-size: small;
        }
        .navlink:hover {
            background-color: rgba(1, 1, 1, 0.5);
        }
    </style>
{% endblock %}

{% block title %}Biological Systems and Molecular Modelling Group{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light topbar">
        <a class="navbar-brand" href="/">
            <img src="{% static 'grupo/logo_gmmsb.png' %}" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav pl-5 mr-auto">
                {% for item in nav_bar_items %}
                <li class="nav-item active">
                    <a class="nav-link navlink" href="{{item.url}}">{{item.name}} <span class="sr-only">(current)</span></a>
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav pl-5 ml-auto">
                <li class="nav-item active">
                    <a class="nav-link navlink2" href="/admin">Log in</a>
                </li>
            </ul>
        </div>
    </nav>   
	<div class="container-fluid">
        <div class="row pt-3" style="min-height: 80vh;">
            {% block sidepanel %}
                <div class="col-sm-2" style="padding: 0 25px;">
            		<p>Online Services</p>
            		<ul>
            			<li><a href="#">GAPF</a></li>
        	    		<li><a href="#">PROFRAGER</a></li>
        	    		<li><a href="https://dockthor.lncc.br/v2/">DOCKTHOR</a></li>
        	    	</ul>
            	</div>
            {% endblock %}

            <div class="col-sm-8">
            	{% block content %}
                    <p>block content</p>
                {% endblock %}
            </div>
            <div class="col-sm-2">                
            </div>
        </div>
    </div>    
    <footer class="footer mt-auto py-3">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <p><strong>BIOLOGICAL SYSTEMS AND MOLECULAR MODELLING GROUP</strong></p>
                <p>Laboratório Nacional de Computação Científica<br/>
                Av. Getúlio Vargas, number 333, Petrópolis, Brazil</p>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </footer>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}