{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    {% block style %}
    <style>
    	body {
    		margin: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
    		font-family: sans-serif;
    		box-sizing: border-box;
    		color: #212529;
            background-color: #f8f8ff;
    	}
        .topbar {
            height: 80px; 
            color: #fff;
            display: flex; 
            align-content: center; 
            background: radial-gradient(ellipse at center center , #3a72bc 1%, #2160bd); 
            border-bottom: solid 3pt #ffcc00;
            box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.1);
        }
        .topbar-left {
            flex-grow: 0;
            background-image: url('{% static 'grupo/logo_gmmsb.png' %}'); 
            background-position: center; 
            background-repeat: no-repeat;
            width: 200px;
        }
        .topbar-center {
            flex-grow: 1;
            display: flex;
            align-content: center;
        }
        .topbar-right {
            flex-grow: 0; 
            background-image: url('{% static 'grupo/logo_lncc.png' %}'); 
            background-position: center; 
            background-repeat: no-repeat; 
            width: 200px;
        }
        .nav {
            list-style-type: none;
            margin: auto;
        }
        .nav > li {
            display: inline;
        }
        .nav-link {
            text-decoration: none;
            padding: 10px;
            color: #fff;
            border-radius: 20px;        
        }
        .nav-link:hover {
            background-color: rgba(1, 1, 1, 0.5);
        }
        .footer {       
            flex-grow: 0;     
            background-color: #00274c;
            color: #fff;
            font-size: 12px;
            padding: 20px;
            border-top: solid 3pt #ffcc00;
            box-shadow: 2px -1px 2px 1px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .content {
            max-width: 940px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .debug {
            border: dashed 1pt red;
        }
        .pdr-25 {
            padding-right: 25px;
        }
        .rows {
            display: flex;
            flex-direction: column;            
        }
        .row-auto {
            flex: auto;
        }
        .row-fixed {            
            flex: initial;
        }
        .columns {
            display: flex;
            flex: auto auto auto;
        }
        .column-auto {
            flex: auto;
        }
        .column-fixed {
            flex: initial;
        }        
    </style>
    {% endblock %}
    <title>{% block title %}Biological Systems and Molecular Modelling Group{% endblock %}</title>
  </head>
  <body class="rows">
    <div class="topbar row-initial">
    	<div class="topbar-left"></div>
    	<div class="topbar-center">
            <ul class="nav">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/services">Services</a></li>
                <li><a class="nav-link" href="/research">Research</a></li>
                <li><a class="nav-link" href="/events">Events</a></li>
                <li><a class="nav-link" href="/team">Team</a></li>
                <li><a class="nav-link" href="/contact">Contact</a></li>
            </ul>   
        </div>
    	<div class="topbar-right">
        </div>
    </div>        
	<div class="columns row-auto" style="min-height: 50vh;">
        {% block sidepanel %}
    	<div class="column-fixed" style="padding: 0 25px;">
    		<p>Online Services</p>
    		<ul>
    			<li><a href="#">GAPF</a></li>
	    		<li><a href="#">PROFRAGER</a></li>
	    		<li><a href="https://dockthor.lncc.br/v2/">DOCKTHOR</a></li>
	    	</ul>
    	</div>
        {% endblock %}
    	<div class="column-auto">
    		{% block content %}
                <p>block content</p>
            {% endblock %}
    	</div>
    </div>    
    <div class="footer row-initial">
    	<p>GMMSB/LNCC - Avenida Getúlio Vargas 333, Petrópolis, Brazil</p>
    </div>    

    {% block script %}
    {% endblock %}

  </body>
</html>